@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Google Sans", sans-serif;
    background-color: #ffffff;
    margin: 0;
    word-spacing: 1.3px;
}

.container {
    padding: 150px 40px;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: -20px;
}

h3 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 3px;
    color: #111111;
}

h5 {
    font-weight: 100;
    font-size: 15px;
    padding-bottom: 40px;
    color: #333;
}

label {
    margin: 10px;
    font-size: 12px;
}


textarea, input[type="date"] {
    font-family:'Courier New', Courier, monospace;
    padding: 10px;
    width: 300px;
    max-width: 95vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px 10px 10px 0;
}

button.submit {
    margin-top: 20px;
    padding: 10px 25px;
    color: #fff;
    background-color: #484848;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

button.submit:hover {
    background-color: #282828;
}

.encodedTextBox {
    font-family: "Raleway", sans-serif;
    margin-top: 30px;
    padding: 20px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 95vw;
    line-height: 1.6em;
    word-spacing: 1.3px;
}

